* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header section start */
.header {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 210px 230px 160px 0;
}

.header-title {
    color: white;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    width: 40%;
    text-align: right;
}

.header-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-details {
    width: 40%;
    text-align: right;
    line-height: 26px;
    padding: 24px 0 32px 0;
    color: white;
}

.primary-btn {
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    border-radius: 5px;
    border: none;
}

/* header section end */

/* my failure section start */
.my-failure-section {
    display: flex;
    margin: 130px 200px;
    align-items: center;
    gap: 90px;
}

.failure-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.failure-details {
    line-height: 26px;
    color: #444343;
    margin-top: 25px;
}

.failure-points p {
    color: #444343;
    margin-top: 15px;
}

.failure-points i {
    color: #16D887;
    margin-right: 10px;
}

/* my failure section end */

/* my plans section start */
.my-plans {
    text-align: center;
}

.plan-heading {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.plan-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 230px 130px 230px;
}

.plan-item-heading {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.plan-item-details {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* my plans section end */

/* my article section start */
.article-container {
    padding: 50px 230px 50px 230px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.my-article-heading {
    text-align: center;
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 50px;
}

.article-one {
    width: 50%;
    border-radius: 10px;
    overflow: hidden;
}

.article-one .img-container img {
    width: 100%;
}

.article-two {
    width: 50%;
    border-radius: 10px;
    overflow: hidden;
}

.article-two .img-container img {
    width: 100%;
}

.article-details h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    padding: 10px 40px;
    color: #151414;
    text-align: justify;
}

.article-details p {
    padding: 20px 40px;
    text-align: justify;
    line-height: 26px;
    color: #444343;
}

.article-one,
.article-two {
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.1);
}

.article-one:hover,
.article-two:hover {
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

.article-btn {
    padding: 0 230px 130px 230px;
    display: flex;
    justify-content: flex-end;
}

.article-btn>button {
    color: white;
    background-color: #005FAC;
}

/* my article section end */

/* call now section start */
.call-now-section {
    margin: 0 230px 130px 230px;
}

.call-now {
    width: 100%;
    background: linear-gradient(to right, rgba(0, 0, 255, 0.6), transparent), url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    padding: 60px 65px;
    box-sizing: border-box;
}

.call-now-section h2 {
    color: white;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    padding-bottom: 20px;
}

/* call now section end */

/* contact section start */
.footer {
    background-color: #151414;
    padding: 130px 230px;
    display: flex;
    justify-content: space-between;
}

.contact-section {
    width: 50%;
}

.contact-heading {
    color: white;
    font-weight: 700;
    font-size: 45px;
}

.contact-details {
    color: #FFFFFF;
    line-height: 26px;
    padding: 15px 0 25px 0;
}

.email-phone {
    color: white;
    text-decoration: none;
    display: inline-block;
}

.email-phone:hover {
    color: blue;
    text-decoration: underline;
}

.email {
    padding: 15px 0 30px 0;
}

.icon {
    display: flex;
    gap: 20px;
}

.icon a {
    text-decoration: none;
}

/* contact section end */
.subscribe-heading {
    font-weight: 600;
    font-size: 25px;
    color: white;
}

.subscribe-form input[type="email"] {
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px 20px;
    background-color: transparent;
    color: white;
    display: block;
    margin: 31px 0 15px 0;
    font-size: 18px;
}

.subscribe-form input[type="submit"] {
    color: white;
    background-color: #005FAC;
}

/* subscribe section start */